{% extends 'base.html' %}

{% block profileinfo %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Welcome {{ profile.username }}</h2>
            <hr>
            <h3>Here are your profile details:</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Your registered Email: {{ profile.email }}</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Your username: {{ profile.username }}</h4>
        </div>
    </div>
    {% endblock %}