{% extends 'base.html' %}
{% load static %}
{% block content %}
{% endblock %}

{% block cards %}
{% for story in stories %}

<div class="col-lg-4 col-md-6 mb-4">

    <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title">
            </h4>
            <h5>{{ story.title }}</h5>
            <p class="card-text">{{ story.description }}</p>
        </div>
        <div class="card-footer">
            <p class="card-text">By {{ story.author }}</p>
            <a class="btn btn-outline-success" href="{% url 'read' %}?id={{ story.id }}" role="button">Read</a>
        </div>
    </div>

</div>
{% endfor %}


{% endblock %}