{% extends 'base.html' %}



<h1>Submit</h1>

{% block carousel %}
{% endblock %}

{% block sidenav %}
{% endblock %}

{% block submitstory %}
<div class="container">
    
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col">
                <label for="title">Story title</label>
                <input type="text" class="form-control" name="title" placeholder="enter your story title">
            </div>
            <div class="col">
                <label for="author">Your name</label>
                <input type="text" class="form-control" name="author" placeholder="enter your name">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="description">Story description</label>
                <input type="text" class="form-control" name="description"
                    placeholder="enter a short description of the story">
            </div>
        </div>

        <div>
            <label for="category">Select Category</label>
            <select class="form-control" name="category">
                <option>Adventure</option>
                <option>Fantasy</option>
                <option>Mystery</option>
                <option>SciFi</option>
            </select>
        </div>

        <div class="row">
            <div class="col">
                <label for="text">Story</label>
                <textarea class="form-control" id='text' name="text"" rows=" 5"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Publish story to site</button>
    </form>
    {% else %}
    <h2>Only registered users may submit stories</h2>
    <a class="nav-link" href="{% url 'registration' %}">Register</a>
    {% endif %}
</div>
{% endblock %}